$color-black-tinted: #333333;
$color-white-tinted: #f4f4f4;

$color-msg-bg: $color-white-tinted;
$color-msg-text: $color-black-tinted;
$color-msg-border: #eeeeee;

$color-user-msg-bg: #4baeff;
$color-user-msg-text: #ffffff;
$color-user-msg-border: $color-user-msg-bg;

$color-option-bg: #ffffff;
$color-option-border: #589cd4;
$color-option-text: $color-black-tinted;

$color-spinner: #888888;

@keyframes spinner1 {
  0% { opacity: 1; } // dark
  25% { opacity: 0.4; }
  50% { opacity: 0.4; }
  75% { opacity: 0.4; }
  100% { opacity: 1; } // dark
}
@keyframes spinner2 {
  0% { opacity: 0.4; }
  25% { opacity: 1; } // dark
  75% { opacity: 1; } // dark
  100% { opacity: 0.4; }
}
@keyframes spinner3 {
  0% { opacity: 0.4; }
  25% { opacity: 0.4; }
  50% { opacity: 1; } // dark
  75% { opacity: 0.4; }
  100% { opacity: 0.4; }
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 1.6rem;
  margin: 0;
  background-color: $color-black-tinted;
}
#main, .content {
  background-color: white;
  width: 100%;
  max-width: 640px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.message-list {
  overflow-y: scroll;
  position: relative;
  height: 100%;
  .message-container {
    margin: 1rem;
    overflow: hidden;
  }
  .message {
    background-color: $color-msg-bg;
    border: 2px solid $color-msg-border;
    color: $color-msg-text;
    border-radius: 4px;
    padding: 0.8rem 1.5rem;
    display: inline-block;
    max-width: 80%;
    &.user-message {
      float: right;
      background-color: $color-user-msg-bg;
      color: $color-user-msg-text;
      border-color: $color-user-msg-border;
    }
  }
  .message.spinner {
    text-align: center;
    transition: opacity 0.3s;
    opacity: 1;
    .dot {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 2px;
      background-color: $color-spinner;
      border-radius: 100px;
      animation-iteration-count: infinite;
    }
    .dot1 {
      animation: spinner1 0.9s linear;
      animation-iteration-count: infinite;
    }
    .dot2 {
      animation: spinner2 0.9s linear;
      animation-iteration-count: infinite;
    }
    .dot3 {
      animation: spinner3 0.9s linear;
      animation-iteration-count: infinite;
    }
  }
  .options-container {
    margin: 3rem 0 2rem 0;
    text-align: center;
    overflow: hidden;
  }
  .option {
    color: $color-option-text;
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin: 1rem;
    border-radius: 1000px;
    border: 2px solid $color-option-border;
  }
}
